{% extends 'base.html.twig' %}

{% block body %}
</br></br></br>
<a href=/admin class=btn btn-default>Back to Blogs</a>
<h2 class=page-header>{{blog.title}}</h2>
<ul class=list-group>
<li class=list-group-item>Slug : {{blog.slug}}</li>
<li class=list-group-item>Description : {{blog.description | raw}}</li>
<li class=list-group-item>Created Date: {{blog.createdate | date('F j, Y, g:i a')}}</li>
</ul>

{% endblock %}