{% extends 'baseblog.html.twig' %}

{% block body %}


              {% for blog in blogs %}
                <div class="post-preview">
                    <a href="blog/{{blog.slug}}">
                        <h2 class="post-title">
                            {{blog.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{blog.description |striptags|slice(0, 500) }}
                        </h3>
                    </a>
                    <p class="post-meta">on {{blog.createDate | date('F j, Y, g:i a')}}</p>
                </div><hr>   
              {% endfor %}

{% endblock %}

