{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-10">
      {% for blog in blogs %}
        <div class="row">
          <div class="col-md-12">
          <h2>
            <a href=blog/{{blog.slug}}>{{blog.title}}</a>
          <h2>
          <p>
          {{blog.description}}
          </p>

          {{blog.createDate | date('F j, Y, g:i a')}}

          </div>
        </div>   
      {% endfor %}
    </div>

    <div class="col-md-2">
    </div>
</div>      
{% endblock %}